---
layout: page
permalink: /categories/
title: Categories
---


<div id="archives">
    {% for category in site.categories %}
    <div class="archive-group">
        <ul>

            {% capture category_name %}{{ category | first }}{% endcapture %}
            <div id="#{{ category_name | slugize }}"></div>
            <p></p>
            <h3 class="category-head">{{ category_name }}</h3>
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
            <li>
                {%- assign date_format = "%Y-%m-%d" -%}
                [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape
                    }}</a>
            </li>

            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>